<!-- <p>movie-review-list works!</p> -->

<div>
  <h3>Search Result</h3>
  <button type="button" [routerLink]="['']">Back</button>

  <div *ngIf="reviews; else noReview">
    <table *ngFor="let r of reviews">
      <tr>
        <td>
            <img *ngIf="r.image != 'noImage'; else noImage" src="{{ r.image }}" width="300" />
        </td>
        <td>
          <a href="{{ r.reviewURL }}" target="_blank"
            ><h3>{{ r.title }} ( {{ r.rating }} )</h3></a
          >
          <h2>{{ r.headline }}</h2>
          <p>{{ r.summary }}</p>
          Comments: {{ r.commentCount }}
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <button type="button" [routerLink]="['/comment/', r.title]">
            Comment
          </button>
        </td>
      </tr>
    </table>

  </div>
  <ng-template #noReview>
    <h2>Your search produces no result</h2>
  </ng-template>

   <ng-template #loading>
    <h2>Loading...</h2>
  </ng-template>
</div>





<ng-template #noImage>
  <img src="/assets/placeholder.jpg" alt="" />
</ng-template>
